header{
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
	position: sticky;
	top: 0px;
}
main{
	margin: 0 auto 0 auto;
	max-width:675px;
	border-color:black
	bord
}
h1{
  color:pink
}
p{
  color:orange;
  font-family:cursive;
}